<section
  class="background-radial-gradient overflow-hidden"
  style="width: 100vw; height: 100vh">
  <div class="container px-4 py-5 px-md-6 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mt-md-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus,
          expedita iusto veniam atque, magni tempora mollitia dolorum
          consequatur nulla, neque debitis eos reprehenderit quasi ab ipsum nisi
          dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <div *ngIf="activeTab=='login-tab'">
              <div class="h3 pb-2" >Sign in to your account </div>
              <div class="form-floating mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  placeholder="Email address"
                  [(ngModel)]="loginUserDetails.email"
                  [ngModelOptions]="{standalone: true}"
                />
                <label for="form3Example3">Email address</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  placeholder="password"
                  [(ngModel)]="loginUserDetails.password"
                  [ngModelOptions]="{standalone: true}"
                />
                <label for="form3Example4">Password</label>
              </div>
              <div class="d-flex justify-content-center my-2">
                <button id="signUp" type="submit" (click)="login()" class="btn w-100 btn-primary btn-block my-2">login</button>
              </div>
            </div>
            <div *ngIf="activeTab=='register-tab'">
              <div class="h3 pb-2" >Sign in to your account </div>
              <div class="form-floating mb-4">
                <input
                  type="text"
                  id="NameField"
                  class="form-control"
                  placeholder="Name"
                  [(ngModel)]="createNewUserDetails.name"
                  [ngModelOptions]="{standalone: true}"
                />
                <label for="NameField">Name</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="email"
                  id="EmailField"
                  class="form-control"
                  placeholder="Email"
                  [(ngModel)]="createNewUserDetails.email"
                />
                <label for="EmailField">Email</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="password"
                  id="passwordField"
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="createNewUserDetails.password"
                  [ngModelOptions]="{standalone: true}"
                />
                <label for="passwordField">Password</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="password"
                  id="re-passwordField"
                  class="form-control"
                  placeholder="Repeat Password"
                  [(ngModel)]="createNewUserDetails.reEnteredPassword"
                  [ngModelOptions]="{standalone: true}"
                />
                <label for="re-passwordField">Repeat Password</label>
              </div>
              <div class="d-flex justify-content-center my-2">
                <button type="submit" class="btn w-100 btn-primary btn-block my-2">
                  Sign In
                </button>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center py-2">
              <p class="mb-0 me-2">{{(activeTab==='login-tab')?"Don't have an account?":"Already have an account?"}} </p>
              <button type="button" class="btn btn-outline-danger" (click)="activeTab=(activeTab==='login-tab')?'register-tab':'login-tab'">{{(activeTab==='login-tab')?'Create new':'Sign In'}}</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
